    /*
    Flaticon icon font: Flaticon
    Creation date: 15/04/2019 09:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shopping-bag:before { content: "\f100"; }
.flaticon-magnifying-glass:before { content: "\f101"; }
.flaticon-cart:before { content: "\f102"; }
.flaticon-fullscreen:before { content: "\f103"; }
.flaticon-close:before { content: "\f104"; }
.flaticon-next:before { content: "\f105"; }
.flaticon-comment:before { content: "\f106"; }
.flaticon-like:before { content: "\f107"; }
.flaticon-home-repair:before { content: "\f108"; }
.flaticon-heart:before { content: "\f109"; }
.flaticon-exit:before { content: "\f10a"; }
.flaticon-mail:before { content: "\f10b"; }
    
    $font-Flaticon-shopping-bag: "\f100";
    $font-Flaticon-magnifying-glass: "\f101";
    $font-Flaticon-cart: "\f102";
    $font-Flaticon-fullscreen: "\f103";
    $font-Flaticon-close: "\f104";
    $font-Flaticon-next: "\f105";
    $font-Flaticon-comment: "\f106";
    $font-Flaticon-like: "\f107";
    $font-Flaticon-home-repair: "\f108";
    $font-Flaticon-heart: "\f109";
    $font-Flaticon-exit: "\f10a";
    $font-Flaticon-mail: "\f10b";